{
    "presets": [
        "react-native"
    ],
    "env": {
        "production": {
            "plugins": [
                "ignite-ignore-reactotron",
                "transform-decorators-legacy",
                "syntax-decorators"
            ]
        },
        "development": {
            "plugins": [
                "transform-decorators-legacy",
                "syntax-decorators"
            ]
        }
    }
}
